.button-wrapper {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

.save-button {
  margin-top: 2px;
  color: red;
  font-size: 23px;
  cursor: pointer;
}




